// metadata
export const version = "{{{version}}}"
export const title = "{{{title}}}"
export const description = "{{{description}}}"
export const replitLink = "{{{replitLink}}}"

const html = `{{{html}}}`

export default html
